body{
    background-image: url('etchy.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 0% 50%;
} 
.inputBtn{
    position: absolute;
    right: 10px;
    top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15pt;
} 
.reset{
    position:absolute;
    left: 15px;
    top: 10px;
    border: 3px solid black;
    border-radius: 4px;
    color: red;
}
.h3{
    position: absolute;
    left: 15px;
    top: 50px;
    font-size: 20pt;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
}
.buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    gap: 20px;
}
.buttons button{
    padding: 20px;
    border-radius: 5px;
}

h1{
    text-align:center;
    font-size: 40pt;
    font-weight: 20px;
}
.mainContainer{
    text-align: center;
}
.mainGrid{
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
}
.blockGrid{
    display: flex;
    flex-direction: row;
}

.smallGrid{
    padding: 25px;
}
footer{
    left: 10px;
    bottom: 10px;
    position: absolute;
    font-weight: bolder;
}