body{
    background-image: url('etchy.jpg');
    background-repeat: no-repeat;
    background-position: 0% 80%;
}
h1{
    text-align:center;
    font-size: 40pt;
    font-weight: 20px;
}
.mainContainer{
    text-align: center;
}
.mainGrid{
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
}
.blockGrid{
    display: flex;
    flex-direction: row;
}

.smallGrid{
    padding: 20px;

}
footer{
    left: 10px;
    bottom: 10px;
    position: absolute;
    font-weight: bolder;
}